.add{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}
.add-form{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /* border: 1px solid black; */
    border-radius: 8px;
    padding: 15px;
    background-color: white;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0px;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 8px;
}
label{
    font-size: 18px;
    color: black;
}
input{
    width: 70%;
    height: 30px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 8px;
}
button{
    padding: 5px 25px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 10px 0px;
}



@media only screen and (max-width: 750px){
    .add-form{
        width: 90%;
    }
    .add-form .box{
        flex-direction: column;
        align-items: start;
    }
    .box label, input{
        width: 100%;
    }
    .box input{
        margin: 5px 0px;
    }

}