.viewdata{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.alldata{
    height: auto;
    max-height: 80vh;
    width: 100%;
    overflow: auto;
}
table{
    width: 100%;
    text-align: center;
}

th, td {
    padding: 8px;
    border: 1px solid black;
    word-wrap: break-word; 
    white-space: normal; 
    text-align: center;
}
td img {
    border-radius: 8px;
}

@media only screen and (max-width: 620px) {
    .viewdata {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    table{
        display: block; 
        width: 100%;
    }
    td {
        white-space: nowrap;
    }
    td img {
        margin-top: 10px;
    }
}


@media only screen and (min-width: 621px) and (max-width: 730px){
    .viewdata{
        width: 95%;
    }
}