.viewdata{
    width: 80%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
table{
    /* border: 1px solid black; */
    width: 70%;
    text-align: center;
}
th{
    padding: 5px;
    border: 1px solid black;
}
td{
    padding: 5px;
    border: 1px solid black;
}