.viewdata{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    overflow: auto;
    
}
table{
    width: 100%;
    text-align: center;
    /* border-collapse: collapse; */
    /* overflow: auto; */
    margin: 20px 0px;
}

th, td {
    padding: 8px;
    border: 1px solid black;
    word-wrap: break-word; 
    white-space: normal; 
    text-align: left;
}


td img {
    border-radius: 8px;
}



@media only screen and (max-width: 720px) {
    .viewdata {
        width: 100%;
        border: 1px solid black;
        align-items: center;
        justify-content: center;
    }

    table{
        display: block; 
        width: 100%;
        border: 1px solid black;
    }

    td {
        white-space: nowrap;
    }

    td img {
        margin-top: 10px;
    }
}