<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employe Data</title>

    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .main{
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: black;
        }
        h1{
            color: white;
        }
        button{
            margin: 10px 15px;
            padding: 7px;
            border: none;
            border-radius: 8px;
            font-size: 16px;
        }
        a{
            text-decoration: none;
            color: black;
            font-weight: 500;
        }
  
    </style>
</head>
<body>
    <div class="main">
      <h1>Cart Page</h1>
      <button><a href="/">Go To Home Page</a></button>
    </div>
</body>
</html>